<!-- Korede.nunjucks -->
{% extends "layout.njk" %}

{% block content %}
{{nav.active('artists')}}

<section style="background-image:url(img/korede.jpg)" class="employee-img">
        <div>
           <h1>KOREDE BELLO</h1> 	
	    </div>
        <ul class="ind_social">
            <li>
                <a class="circle" href="https://facebook.com" target="_blank">
                    <i class="ion-social-facebook"></i>
                </a>
            </li>
            <li>
                <a class="circle" href="https://facebook.com" target="_blank">
                    <i class="ion-social-twitter"></i>
                </a>
            </li>
            <li>
                <a class="circle" href="https://facebook.com" target="_blank">
                    <i class="ion-social-instagram"></i>
                </a>
            </li>
            <li>
                <a class="circle" href="https://facebook.com" target="_blank">
                    <i class="ion-social-youtube"></i>
                </a>
            </li>
            <li>
                <a class="circle" href="https://facebook.com" target="_blank">
                    <i class="ion-social-apple"></i>
                </a>
            </li>
            
        </ul>
</section>
<section class="about">
    <div class="container">
    <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean turpis velit, euismod non venenatis et, suscipit eu nisl. Quisque ullamcorper augue vitae arcu sollicitudin, in vestibulum sapien ultrices. Nunc dictum lorem sed tortor hendrerit, et pretium nunc venenatis. In fermentum felis augue, id venenatis ligula porttitor in. Integer sollicitudin rutrum diam non venenatis. Vestibulum laoreet tempor tincidunt. Nam nibh erat, semper nec dolor in, posuere viverra mauris.
</p>
<p>
Mauris id arcu odio. Praesent cursus sodales arcu ut finibus. In blandit sed metus non rhoncus. Integer in efficitur sapien. Nam eros tellus, gravida et arcu aliquam, euismod sollicitudin purus. Pellentesque cursus, risus vel placerat ultricies, velit est mollis turpis, ac faucibus sem felis ac dolor. Donec non nibh metus. Fusce ac ex urna. Nunc at metus ligula. Phasellus euismod mauris eget imperdiet pulvinar. Nullam efficitur est id varius rutrum. Integer mattis et nulla vel dapibus. Aliquam accumsan arcu ac eros pulvinar laoreet. Aliquam sit amet malesuada dui. In vehicula aliquet urna. Phasellus porta posuere sapien et sagittis.
</p>
<p>
Fusce rutrum, eros quis aliquam sodales, lacus nisl pellentesque quam, at porta quam tortor in lorem. Duis diam lorem, rhoncus id fringilla ut, consectetur id lectus. Mauris sed mauris lectus. Nullam sollicitudin nunc vitae metus tristique bibendum. Vivamus malesuada tincidunt urna sit amet ultrices. Etiam at ante lacus. Nulla ac fermentum turpis. Aenean pharetra, ipsum ac placerat venenatis, mauris magna dignissim ante, vel mollis nulla ex cursus urna. Vestibulum vitae leo non metus posuere dignissim.
</p>
<p>
Nulla volutpat metus ac ipsum aliquam imperdiet eget non augue. Donec dignissim massa quis nibh sollicitudin, vitae venenatis enim vehicula. Mauris vulputate in lacus at varius. Nulla mattis gravida neque, eget viverra diam tempus convallis. Nullam tempus in arcu at lacinia. Vestibulum sed nulla est. Integer tincidunt est nisi, non aliquam neque ornare consequat. Pellentesque ac dui est. Maecenas ultricies gravida magna, sit amet aliquet lorem tempus sed.
</p>
<p>
Phasellus eget quam id nisl facilisis ultricies quis in lectus. Ut bibendum faucibus sem, vel sagittis augue ullamcorper tempus. Nunc enim turpis, rhoncus non maximus sed, rhoncus a est. Duis neque purus, porta a velit non, facilisis euismod magna. Ut varius, augue eget auctor malesuada, erat nunc mattis sem, quis dictum mauris odio eget ipsum. Nullam et pulvinar risus. Nunc at mauris ut justo laoreet rutrum vel vitae ex. Vestibulum feugiat, orci ut laoreet eleifend, magna urna scelerisque ex, ac maximus nulla arcu vel justo. Donec quis nisl nec mi faucibus eleifend sed in mauris. Cras quis justo id nisi dapibus vestibulum. Praesent felis orci, semper ut urna quis, accumsan auctor neque. Donec sodales nisi et tempor gravida. Sed in finibus velit. Integer fringilla risus suscipit sem ultrices, non sodales diam viverra. Proin lacinia commodo hendrerit. Sed pretium lectus et nisi rhoncus hendrerit.
</p>
</div>
</section>
<section class="individual">
    <div class="container">
    <h1>RELEASES</h1>
    <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div id="box" class="thumbnail">
                        <img class="album-img" src="img/korede_music.jpg" alt="...">
                        <div class="caption">
                            <h3>DO LIKE THAT - KOREDE BELLO</h3>
                            <h5>Release Date: September 16, 2015</h5>
                        </div>
                        <div class="div-overlay text-center">
                            <button class="btn btn-success">BUY IT NOW</button>
                        </div>
                    </div>
                </div>

            </div>
    </div>

</section>

{% endblock %}